<% if question.kind == 2 %>
    <div>
        <%= form_with url: "/", method: :get do |qtform| %>
        <fieldset class="radio-inputs--vertical">
            <legend class="field__label">
                Opções de anexo
            </legend>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "pdf" %>
                <%= qtform.label :attachments_options, "PDF", class:"field__label" %>
            </div>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "imagem" %>
                <%= qtform.label :attachments_options, "Imagem", class:"field__label" %>
            </div>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "video" %>
                <%= qtform.label :attachments_options, "Video", class:"field__label" %>
            </div>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "audio" %>
                <%= qtform.label :attachments_options, "Audio", class:"field__label" %>
            </div>
        </fieldset>
        <% end %>
    </div>
<% elsif question.kind == 3 %>
    <%= render "questions/question_kind_body_alternatives", question: question %>
<% end %>
