<p style="color: green"><%= notice %></p>

<%= render @circuit_application %>

<div>
  <%= link_to "Edit this circuit application", edit_circuit_application_path(@circuit_application) %> |
  <%= link_to "Back to circuit applications", circuit_applications_path %>

  <%= button_to "Destroy this circuit application", @circuit_application, method: :delete %>
</div>
