<%= form_with url: "/", method: :get, class: "new-question" do |qtform| %>
    <div class="field">
        <%= qtform.label :statement, "Enunciado", class:"field__label" %>
        <%= qtform.text_area :statement, 
            class:"field__input",
            placeholder:"Enunciado da questão",
            rows:"10"
        %>
    </div>
    <div class="field">
        <%= qtform.label :kind, "Tipo de resposta", class:"field__label" %>
        <%= qtform.select :kind, [["Discursiva", "1"], ["Anexo", "2"], ["Objetiva", "3"]], {}, class: "field__input" %>
    </div>
    <div>
        <div class="field">
            <%= qtform.label :answer, "Espelho da resposta", class:"field__label" %>
            <%= qtform.text_area :answer, 
                class:"field__input",
                placeholder:"Modelo de resposta",
                rows:"10"
            %>
        </div>
    </div>
    <%= qtform.button "Remover", type: "button", class: "button button--outlined-red" %>
<% end %>

<%= form_with url: "/", method: :get, class: "new-question" do |qtform| %>
    <div class="field">
        <%= qtform.label :statement, "Enunciado", class:"field__label" %>
        <%= qtform.text_area :statement, 
            class:"field__input",
            placeholder:"Enunciado da questão",
            rows:"10"
        %>
    </div>
    <div class="field">
        <%= qtform.label :kind, "Tipo de resposta", class:"field__label" %>
        <%= qtform.select :kind, [["Discursiva", "1"], ["Anexo", "2"], ["Objetiva", "3"]], {}, class: "field__input" %>
    </div>
    <div>
        <fieldset class="radio-inputs--vertical">
            <legend class="field__label">
                Opções de anexo
            </legend>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "pdf" %>
                <%= qtform.label :attachments_options, "PDF", class:"field__label" %>
            </div>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "imagem" %>
                <%= qtform.label :attachments_options, "Imagem", class:"field__label" %>
            </div>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "video" %>
                <%= qtform.label :attachments_options, "Video", class:"field__label" %>
            </div>
            <div class="radio-field">
                <%= qtform.check_box :attachments_options, value: "audio" %>
                <%= qtform.label :attachments_options, "Audio", class:"field__label" %>
            </div>
        </fieldset>
    </div>
    <%= qtform.button "Remover", type: "button", class: "button button--outlined-red" %>
<% end %>

<%= form_with url: "/", method: :get, class: "new-question" do |qtform| %>
    <div class="field">
        <%= qtform.label :statement, "Enunciado", class:"field__label" %>
        <%= qtform.text_area :statement, 
            class:"field__input",
            placeholder:"Enunciado da questão",
            rows:"10"
        %>
    </div>
    <div class="field">
        <%= qtform.label :kind, "Tipo de resposta", class:"field__label" %>
        <%= qtform.select :kind, [["Discursiva", "1"], ["Anexo", "2"], ["Objetiva", "3"]], {}, checked: "3", class: "field__input" %>
    </div>
    <div>
        <fieldset class="radio-inputs--vertical">
            <legend class="field__label">
                Opções de resposta<br><small>Marque a(s) correta(s)</small>
            </legend>
            <div class="new-question__new-alternative">
                <%= qtform.check_box :right_alternatives %>
                <%= qtform.text_field :alternative_label, class: "field__input" %>
                <%= qtform.button class:"button button--red" do %>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                <% end %>
            </div>
        <%= qtform.button "Adicionar alternativa", type: "button", class: "button button--ghost--blue" %>
    </div>
    <%= qtform.button "Remover", type: "button", class: "button button--outlined-red" %>
<% end %>

