<div id="<%= dom_id station %>">
  <p>
    <strong>Context:</strong>
    <%= station.context %>
  </p>

  <p>
    <strong>Procedure:</strong>
    <%= station.procedure %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= station.evaluation %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= station.time %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= station.difficulty %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= station.score %>
  </p>

</div>
