<div class="list-card">
  <div class="list-card__header">
      <h4 class="list-card__title"><%= station.title %></h4>
      <span class="list-card__info">Grau de dificuldade: <%= station.difficulty %></span>
  </div>

  <p class="list-card__text">
    <%= station.context %>
  </p>

  <div class="list-card__footer">
    <span class="list-card__footer__update">Última atualização em <%= station.updated_at %></span>
    <div class="list-card__buttons">
      <%= link_to 'Acessar', edit_station_path(station), class: 'button button--blue', data: { turbo_frame: '_top' } %>
      <%= link_to 'Excluir', station, class: 'button button--red', data: { turbo_method: :delete } %>
    </div>
  </div>
</div>
