<header class="header">
    <%= render "partials/navbar" %>
</header>

<h1>Título da Estação Editável</h1>

<%= render "form", station: @station %>

<br>

<div>
  <%= link_to "Show this station", @station %> |
  <%= link_to "Back to stations", stations_path %>
</div>

<%= button_to 'Voltar', stations_path, method: :get, class: 'button button--blue' %>
<%= button_to 'Excluir', @station, method: :delete, class: 'button button--red' %>
