<section class="section">
  <div data-controller="station-inputs">
    <%= form_with(model: @station, data: {station_inputs_target: "form"}) do |form| %>
      <%= form.text_field :title, placeholder: 'Digite aqui o título da estação', 
            class: 'section__test', data: {action: "input->station-inputs#submitForm"} %>
    <% end %>
  </div>

  <%= render "partials/card_input",
    title: "Contextualização",
    model: @station, 
    field: :context, 
    placeholder: "desc", 
    icon: 'description' %>

  <%= render "partials/card_input",
    title: "Procedimentos",
    model: @station, 
    field: :procedure, 
    placeholder: "desc", 
    icon: 'account_tree' %>

  <%= render "partials/card_input",
    title: "Avaliação",
    model: @station, 
    field: :evaluation, 
    placeholder: "desc", 
    icon: 'whatshot' %>

  <div class="section__cards">
    <%= render "time_card", station: @station %>
    <%= render "score_card", station: @station %>
    <%= render "difficulty_card", station: @station %>
  </div>
</section>

<section class="section section--with-mt">
  <h1 class="section__title">Perguntas</h1>

  <%= turbo_frame_tag "questions" do %>
    <% @station.questions.each do |q| %>
      <%= render "question_card", question: q %>
    <% end %>
  <% end %>

  <section class="section__buttons section__buttons--align-center">
    <%= link_to 'Nova Pergunta', newq_station_question_path(@station), class: 'button button--blue', data: { turbo_method: :post } %>
  </section>
</section>

<section class="section section--with-mt">
  <section class="section__buttons section__buttons--align-center">
    <%= link_to 'Voltar', :back, class: 'button button--blue' %>
    <%= link_to 'Excluir', @station, class: 'button button--red', data: { turbo_method: :delete } %>
  </section>
</section>

