<section class="section" data-turbo="true">  
	<h1 class="section__title">Situações problema</h1>
  	<%= form_with url: circuits_path, 
		class:"list-container",
		id:"circuits__filter__form",
		method: :get,
		data: { controller:"filter", turbo_frame:"circuit-list", action:"advance" } do |form|
	%>
        <div class="filters__controls">
			<div class="field">
				<%= form.label :term, "Pesquisar por título", class:"field__label" %>
				<%= form.text_field :term, 
					class:"field__input", 
					data:{ 
						action:"input->filter#handleFilterFormSubmit",
						filter_target:"searchInput", 
						filter_form_target:"#circuits__filter__form"
					}

				%>
			</div>
			<!--
			<%= form.button :filters, 
				type:"button", 
				class:"button button--outlined-blue circuits__filters__button",
				data: { action: "click->circuit-search#handleFiltersButton", circuit_search_target: "filterBtn", opts_selector: "#circuits__filters__options" } do 
			%>
				<span>Filtros</span>
				<span class="material-symbols-outlined">
					filter_list
				</span>
			<% end %>
			<ul class="circuits__filters__options" hidden id="circuits__filters__options">
				<li>
					<div class="radio-field">
                		<%= form.check_box :filters_options, value: "byme" %>
                		<%= form.label :filters_options, "Criados por mim", class:"field__label" %>
            		</div>
				</li>
			</ul>
			-->
		</div>
		<%= turbo_frame_tag "circuit-list" do %>
			<% @circuits.each do |circuit| %>
				<%= render "circuit_list_card", circuit: circuit %>
			<% end %>
		<% end %>
		
		<%= link_to 'Voltar', dashboard_path, class: "button button--blue", style:"width: 60%;", data: { turbo_frame: '_top' } %>
    <% end %>
</section>
