
<main class="wrapper">
    <h1 class="page-title">Nova situação problema</h1>
    <%= form_with model: @circuit, class:"new-content__form-container" do |form| %>
        <div class="new-content__form">
            <div class="field">
                <%= form.label :title, 
                    "Título", 
                    class:"new-content__form__label"
                %>
                <%= form.text_field :title, 
                    class:"field__input",
                    placeholder: "Título da situação problema"
                %>
            </div>
            <div class="field">
                <%= form.label :resume, "Resumo", class:"field__label" %>
                <%= form.text_area :resume, 
                    class:"field__input",
                    placeholder:"Resumo da situação problema",
                    rows:"15"
                %>
            </div>
        </div>
        <div class="new-content__stations-list">
            <%= render "partials/card", 
                title: "Adicionar estações", 
                iconName: "add",
                content: "Crie novas estações independentementes de um circuito OSCE, e utilize-as quando formular o circuito",
                myclass: "card--bg-blue"
            %>

            <ul class="stations-list__stations">
                <li>
                    <%= render "partials/card", 
                        title: "Estação I", 
                        iconName: "class",
                        content: "Resumo da primeira estação aqui...",
                        myclass: "card--bg-blue"
                    %>
                </li>
                <li>
                    <%= render "partials/card", 
                        title: "Estação I", 
                        iconName: "class",
                        content: "Resumo da primeira estação aqui...",
                        myclass: "card--bg-blue"
                    %>
                </li>
                <li>
                    <%= render "partials/card", 
                        title: "Estação I", 
                        iconName: "class",
                        content: "Resumo da primeira estação aqui...",
                        myclass: "card--bg-blue"
                    %>
                </li>
                <li>
                    <%= render "partials/card", 
                        title: "Estação I", 
                        iconName: "class",
                        content: "Resumo da primeira estação aqui...",
                        myclass: "card--bg-blue"
                    %>
                </li>
                <li>
                    <%= render "partials/card", 
                        title: "Estação I", 
                        iconName: "class",
                        content: "Resumo da primeira estação aqui...",
                        myclass: "card--bg-blue"
                    %>
                </li>
            </ul>

            <div class="new-content__form__buttons">
                <%= link_to "Cancelar", "#" %>
                <%= form.submit "Salvar", class:"button button--blue" %>
            </div>
        </div>
    <% end %>
</main>