<nav class="header__navbar">
    <h5 class="header__title"><%= link_to 'AVSS', root_path, class: 'navbar__link' %></h5>
    <ul class="header__navbar__items">
        <li><%= link_to 'Início', root_path, class: 'navbar__link' %></li>
        <li><%= link_to 'Funcionalidades', root_path, class: 'navbar__link' %></li>
        <li><%= link_to 'Sobre nós', root_path, class: 'navbar__link' %></li>
        <li><%= link_to 'Cadastre-se', root_path, class: 'navbar__link' %></li>
    </ul>
    <div class="header__buttons-container">
        <button type="button" class="button button--blue">Avaliação</button>
        <button type="button" class="button button--green">Entrar</button>
    </div>
</nav>
