<nav class="navbar">
  <h1 class="navbar__avss"><%= link_to 'AVSS', root_path, class: 'navbar__link' %></h1>

  <ul class="navbar__items">
    <% if user_signed_in? %>
      <li><%= link_to 'Início', root_path, class: 'navbar__link' %></li>
      <li><%= link_to 'Controles', root_path, class: 'navbar__link' %></li>
      <li><%= link_to 'Sobre nós', root_path, class: 'navbar__link' %></li>
      <li><%= link_to 'Perfil', root_path, class: 'navbar__link' %></li>
    <% else %>
      <li><%= link_to 'Início', root_path, class: 'navbar__link' %></li>
      <li><%= link_to 'Funcionalidades', root_path, class: 'navbar__link' %></li>
      <li><%= link_to 'Sobre nós', root_path, class: 'navbar__link' %></li>
      <li><%= link_to 'Cadastre-se', root_path, class: 'navbar__link' %></li>
    <% end %>
  </ul>

  <div class="navbar__buttons-container">
    <% if user_signed_in? %>
      <%= link_to "Sair", destroy_user_session_path, class: "button button--blue",  data: { "turbo-method": :delete } %>
    <% else %>
      <button type="button" class="button button--green">Avaliação</button>
      <%= link_to "Entrar", new_user_session_path, class: "button button--blue" %>
    <% end %>
  </div>
</nav>
