<p style="color: green"><%= notice %></p>

<%= render @objective_answer %>

<div>
  <%= link_to "Edit this objective answer", edit_objective_answer_path(@objective_answer) %> |
  <%= link_to "Back to objective answers", objective_answers_path %>

  <%= button_to "Destroy this objective answer", @objective_answer, method: :delete %>
</div>
