<header class="header--mobile">
  <h5 class="header__title">AVSS</h5>
  <span class="material-symbols-outlined home-header__icon--mobile">
    menu
  </span>
</header>

<section class="section section--with-mt">
  <h1 class="section__title">Funcionalidades</h1>

  <div class="section__cards">
    <%= render "partials/new_circuit_card" %>
    <%= render "partials/view_circuits_card" %>
    <%= render "partials/new_station_card" %>
    <%= render "partials/view_stations_card" %>
  </div>
</section>

<section class="section section--with-mb section--with-mt">
  <h1 class="section__title">Sobre nós</h1>

  <div class="section__cards">
    <%= render "partials/card", 
      title: "FACISA", 
      iconPath: "ufrn.svg",
      content: "Faculdade de Ciências da Saúde do Trairi (FACISA)"
    %>
    <%= render "partials/card", 
      title: "IFRN", 
      iconPath: "ifrn.svg",
      content: "Instituto Federal de Educação, Ciência e Tecnologia do Rio Grande do Norte | Santa Cruz"
    %>
  </div>
</section>
