<header class="home-header">
   <%= render "header-menu" %>
    <%= image_tag "avss-logo.svg" %>
</header>
<main class="home-content">
    <h1>
        Funcionalidades
    </h1>
    <div>
        <%= render "card" %>
    </div>
</main>

<div class="avss-section">
  <div class="avss-section__small_cards">
    <%= render "small_card", 
        icon: 'add',
        title: 'Cadastre situações problemas',
        body: 'Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas' 
    %>

    <%= render "small_card", 
        icon: 'add',
        title: 'Cadastre novas estações',
        body: 'Crie novas estações independentementes de um circuito OSCE, e utilize-as quando formular o circuito'
    %>

    <%= render "small_card", 
        icon: 'add',
        title: 'Cadastre situações problemas',
        body: 'Cadastre novos circuitos para serem aplicados a partir do zero e/ou reaproveitando as estações previamente criadas' 
    %>

    <%= render "small_card", 
        icon: 'add',
        title: 'Cadastre novas estações',
        body: 'Crie novas estações independentementes de um circuito OSCE, e utilize-as quando formular o circuito'
    %>
  </div>
</div>

<footer>

</footer>
