<div class="field">
	<div class="answer">
		<label class="field__label statement">Q<%= index %> - <%= question.statement %></label>
		<%= form_with model: answer, data: {debounced_target: "form", controller: "debounced"} do |form| %>
			<div class="answer__points" title="Atribuir pontuação">
				<%= form.number_field :points, data: {action: "input->debounced#submitForm"}, class:"field__input--points", min: 0, max: question.score %>
				<span class="field__label">/ <%= question.score %></span>
			</div>
		<% end %>
	</div>
	
	<div class="field">
		<label class="field__label">Anexo</label>
		<%= link_to answer.payload.filename, answer.payload if answer.payload.attached? %>
	</div>
</div>
