<div class="field" style="margin-top: 1rem;">
	<div class="answer">
		<label class="field__label statement">Q<%= index %> - <%= question.statement %></label>
		<%= form_with model: answer, data: {debounced_target: "form", controller: "debounced"} do |form| %>
			<div title="Atribuir pontuação">
				<%= form.number_field :points, data: {action: "input->debounced#submitForm"}, class:"field__input--points", min: 0, max: question.score %>
				<span class="field__label">/ <%= question.score %></span>
			</div>
		<% end %>
	</div>

	<input type="text" value="<%= answer.body %>" class="field__input" readonly />
</div>
