<fielset class="field">
    <legend class="field__label">Q<%= index %> - <%= question.statement %></legend>

    <%= form_with model: answer, class:"radio-inputs--vertical", data: {debounced_target: "form", controller: "debounced"} do |form| %>
        <% question.question_alternatives.each do |a| %>
            <div class="radio-field">
                <% if answer.question_alternative_id == a.id %>
                  <% if a.correct %>
                      <div style="background: green">
                  <% else %>
                      <div style="background: red">
                  <% end %>
                <% else %>
                  <div>
                <% end %>
                <%= form.radio_button :question_alternative_id, a.id, disabled: true %>
                <label class="field__label"><%= a.body %></label>
              </div>
            </div>
        <% end %>
    <% end %>

  <%= form_with model: answer, data: {debounced_target: "form", controller: "debounced"} do |form| %>
    <%= form.label :points, "Pontuação", class: "field__label" %>
    <%= form.number_field :points, data: {action: "input->debounced#submitForm"}, class:"field__input", min: 0, max: question.score, value: answer.points, disabled: true %>
  <% end %>
</fielset>
