<!--<h1>Editing station submission</h1>

<%= render "form", station_submission: @station_submission %>

<br>

<div>
  <%= link_to "Show this station submission", @station_submission %> |
  <%= link_to "Back to station submissions", station_submissions_path %>
</div>

<%= link_to "Finalizar", circuit_submission_path(@station_submission.circuit_submission), class: 'button button--blue' %>
-->

<div class="container">
    <div class="form-wrapper">
        <section class="container__section" id="circuits" data-controller="debounced">
			<header class="submission__header">
				<div class="submission__header__info" id="info-time">
					<h1 class="section__title" style="text-align: left;"><%= @station.title %></h1>
					<p class="submission__time">
						<span class="material-symbols-outlined">
							alarm
						</span>
						<span><%= @station.time %> min</span>
					</p>
				</div>
				<div class="submission__header__info">
					<p><strong>Pontuação:</strong> <%= @station.score %> pontos</p>
					<p><strong>Dificuldade:</strong> <%= @station.difficulty %></p>
				</div>
			</header>
			<ul class="submission__infos">
				<li>
					<h2 class="submission__infos__label">Contextualização</h2>
            		<p><%= @station.context %></p>
				</li>
				<li>
					<h2 class="submission__infos__label">Procedimentos</h2>
					<p><%= @station.procedure %></p>
				</li>
				<li>
            		<h2 class="submission__infos__label">Avaliação</h2>
					<p><%= @station.evaluation %></p>
				</li>
				<li>
					<h2 class="submission__infos__label">Anexos</h2>
					<% if @station.attachments.length > 0 %>
						<table class="attachments-table">
							<thead>
								<tr>
									<th class="attachments-table__header">Arquivo</th>
									<th class="attachments-table__header">Visualizar</th>
								</tr>
							</thead>
							<tbody>
								<% @station.attachments.each do |a| %>
									<tr>
										<td><%= a.filename %></td>
										<td>
											<%= link_to a, target: "_blank" do %>
												<span class="button button--small button--blue material-symbols-outlined">visibility</span>
											<% end %>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					<% else %>
						<p> Essa estação não possui anexos</p>
					<% end %>
				</li>
			</ul>        

        <%= render "questions_section", station_submission: @station_submission, station: @station %>

        <%= link_to "Encerrar", :back, class: "button button--outlined-red" %>
    </div>
</div>

<div class="timer-container">
  <span id="timer">Tempo restante: 10 minutos</span>
</div>

<script>
    var remaining_time = <%= @remaining_time %>;

    function solveTime() {
        setTimeout(returnPreviousPage, remaining_time * 1000);
    }

    function returnPreviousPage() {
        alert("Seu tempo acabou!")
        history.back();
    }

    function displayTime() {
        var v = document.getElementById("timer");
        v.innerHTML = "Tempo restante: " + getTime(remaining_time);
        remaining_time = remaining_time - 1;

        setTimeout(displayTime, 1000);
    }

    function getTimeAsStr(value) {
        if (value < 10) {
            return "0" + value;
        }

        return "" + value;
    }

    function getTime(value) {
        var hours = Math.floor(value / 3600);
        value = value - hours * 3600;

        var minutes = Math.floor(value / 60);
        value = value - minutes * 60;

        var seconds = Math.floor(value);

        return "" + getTimeAsStr(hours) + ":" + getTimeAsStr(minutes) + ":" + getTimeAsStr(seconds);
    }

    solveTime();
    displayTime();
</script>
