<div class="container">
	<div class="form-wrapper login">
		<div class="blue-box">
			<%= render "partials/logo" %>
		</div>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "container__form") do |f| %>
			<h6>Acesse sua conta</h6>
			<div class="field">
				<%= f.label :email, "Email", class:"field__label" %>
				<%= f.email_field :email, class:"field__input", autofocus: true, autocomplete: "email" %>
			</div>
			<div>
				<div class="field">
					<%= f.label :password, "Senha", class:"field__label" %>
					<%= f.password_field :password, class:"field__input", autocomplete: "current-password" %>
				</div>
				<div class="fields--inline">
					<% if devise_mapping.rememberable? %>
						<div class="radio-field">
							<%= f.label :remember_me, "Lembrar", class:"field__label" %>
							<%= f.check_box :remember_me  %>
						</div>
					<% end %>
					<div class="radio-field" data-controller="password-input">
						<label for="show_password" class="field__label">Mostrar senha</label>
						<input 
							type="checkbox" 
							id="show_password" 
							value="0" 
							data-password-input-target="showpass" 
							data-action="click->password-input#showPassword"
							data-input-target="#user_password"
						/>
					</div>	
				</div>
			</div>
			<div class="actions">
				<%= f.submit "Entrar", class: "button button--blue" %>
				<%= render "devise/shared/links" %>
			</div>
		<% end %>
		
</div>
</div>