<div id="<%= dom_id circuit_submission %>">
  <p>
    <strong>Circuit application:</strong>
    <%= circuit_submission.circuit_application_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= circuit_submission.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= circuit_submission.email %>
  </p>

  <p>
    <strong>Registration:</strong>
    <%= circuit_submission.registration %>
  </p>

</div>
