<%= form_with(model: circuit_submission) do |form| %>
	<% if circuit_submission.errors.any? %>
		<div style="color: red">
			<h2><%= pluralize(circuit_submission.errors.count, "error") %> prohibited this circuit_submission from being saved:</h2>

			<ul>
				<% circuit_submission.errors.each do |error| %>
				<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
    <%= form.hidden_field :circuit_application_id, value: circuit_submission.circuit_application_id %>

	<div class="field">
		<%= form.label :name, "Nome", class:"field__label" %>
		<%= form.text_field :name, class:"field__input"%>
	</div>

	<div class="field">
		<%= form.label :email, class:"field__label" %>
		<%= form.text_field :email, class:"field__input"%>
	</div>

	<div class="field">
		<%= form.label :registration, "Matrícula", class:"field__label" %>
		<%= form.text_field :registration, class:"field__input"%>
	</div>

	<%= form.submit "Criar", class:"button button--blue", style:"margin-top: 2rem; width: 50%;" %>
<% end %>
