<article class="card-station">
    <header class="card-station__header">
        <h4 class="card-station__title"><%= station.title %><h4>
        <h6 class="card-station__count">
            Dificuldade: <%= station.difficulty %> 
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            Tempo: <%= station.time %> minutos
        </h6>
    </header>
    <main class="card-station__content">
        <p>
          <%= station.context %>
        </p>
    </main>
    <footer class="card-station__footer">
        <span class="card-station__last-update">
            
        </span>
        <div class="buttons-container">
          <% if StationSubmission.where(station: station, circuit_submission: circuit_submission).size > 0 %>
            <button class="button button--outlined-blue">Respondido!</button>
          <% else %>
            <%= link_to "Responder", create_station_submission_for_circuit_path(circuit_submission, station), class: 'button button--blue', data: { turbo_method: :post } %>
          <% end %>
        </div>
    </footer>
</article>
