<div class="container">
    <div class="form-wrapper">
        <section class="container__section" id="circuits">
            <h1>Seus dados</h1>
            <p>Nome: <%= @circuit_submission.name %></p>
            <p>Matrícula: <%= @circuit_submission.registration %></p>
            <p>E-mail: <%= @circuit_submission.email %></p>
            <h1>
                Dados da situação problema
            </h1>

            <p class="field__label">Título</p>
            <p><%= @circuit.title %></p>

            <p class="field__label">Resumo</p>
            <p><%= @circuit.resume %></p>
        </section>

        <section class="container__section" id="stations">
            <h2 class="container__section__title">Estações</h2>

            <ul class="stations-list">
                <% @circuit.stations.each do |station| %>
                  <li>
                    <%= render "station_card", station: station, circuit_submission: @circuit_submission %>
                  </li>
                <% end %>
            </ul>
            <div class="buttons-container" id="new-circuits-controls">
                <%= link_to "Finalizar", root_path, class: "button button--outlined-blue" %>
            </div>
        </section>
    </div>
</div>
