<p style="color: green"><%= notice %></p>

<%= render @discursive_answer %>

<div>
  <%= link_to "Edit this discursive answer", edit_discursive_answer_path(@discursive_answer) %> |
  <%= link_to "Back to discursive answers", discursive_answers_path %>

  <%= button_to "Destroy this discursive answer", @discursive_answer, method: :delete %>
</div>
